*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
}
.main-container{
    width: 50%;
    float: left;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    position: relative;
}

/* ILLUSTRATION */
.container-illustration{
    background-color: #de3926;
    z-index: 1000;
}
.alpha-filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
}
.container-illustration .illustration-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 100px);
    box-sizing: border-box;
}
.container-illustration .illustration-box h1{
    color: white;
    font-size: 60px;
}
.fact-menu{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(50% - 1px),-50%) rotate(45deg);
    width: 150px;
}
.fact-menu .fact-menu-element{
    background: #c53929;
    color: white;
    width: 50px;
    height: 50px;
    margin: 0 1px;
    display: inline-block;
    position: relative;
    border: 1px solid white;
    transition: 0.5s;
}
.fact-menu .fact-menu-element:hover{
    transform: scale(1.15);
    transition: 0.5s;
}
.fact-menu .fact-menu-element span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    font-size: 26px;
}

/* CONTENT */
.container-content{
    background:white;
    z-index: 500;
}
.container-content .content-box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: calc(100% - 100px);
    box-sizing: border-box;
    text-align: center;
}
.container-content .content-box img{
    max-width: 300px;
    margin-bottom: 40px;
}
.container-content .content-box p{
    max-width: 500px;
    font-size: 20px;
    text-align: left;
    margin: 0 auto;
}
